*{
    font-family: sans-serif;
}
.titulo {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    max-width: 1580px;
    text-transform: uppercase;
    margin: 0;
    padding: 15px;
    padding-top: 30px;
    color: beige;
    background-color: #5913a6;
}
.definicion{
    max-width: 450;
}